<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="ui.css">
    <link rel="stylesheet" href="src/main/resources/static/updateUser.css">
    <title>vizListe</title>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@1.7.0/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script>
        src="script_ui.js"
    </script>
</head>

<body>
<div class="header">
    <div class="logo-container">
        <span class="ubb">UBB</span>
        <span class="oard">oard</span>
    </div>
    <div class="button-container-menu">
        <button class="button">Membrii</button>
        <button class="button">Cursuri</button>
        <button class="button">Contul meu</button>
    </div>
</div>
<div class="overlay">
    <div class="title-overlay">Cursurile mele</div>
        <div class="course-container">
            <div class="course-title">Obligatorii</div>
            <div id="obligatoryCoursesContainer">
            </div>
                <div class="course-window">
                    <div class="blue-ribbon"></div>
                    <div class="course-details">
                        <div class="title">Structuri de date si algoritmi</div>
                        <div class="subtitle">NCR</div>
                        <div class="text">Profesor: Muresan Tudor</div>
                        <div class="text">Credite: 4</div>

                        <button
                                hx-get="http://localhost:8080/attendances-modal-content?courseId=1"
                                hx-target=".attendances-modal-container .modal-content"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target=".attendances-modal-container"
                                class="btn btn-primary me-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload me-2" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                            </svg>
                            Catalog
                        </button>

                        <div class="attendances-modal-container modal modal-blur"
                             style="display: none"
                             aria-hidden="false"
                             tabindex="-1">
                            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                <div class="modal-content"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="course-window">
                    <div class="blue-ribbon"></div>
                    <div class="course-details">
                        <div class="title">Metode avansate de programare</div>
                        <div class="subtitle">NCR</div>
                        <div class="text">Profesor: Bravo Mircea</div>
                        <div class="text">Credite: 6</div>

                        <button
                                hx-get="http://localhost:8080/attendances-modal-content?courseId=2"
                                hx-target=".attendances-modal-container .modal-content"
                                hx-trigger="click"
                                data-bs-toggle="modal"
                                data-bs-target=".attendances-modal-container"
                                class="btn btn-primary me-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload me-2" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
                            </svg>
                            Catalog
                        </button>

                        <div class="attendances-modal-container modal modal-blur"
                             style="display: none"
                             aria-hidden="false"
                             tabindex="-1">
                            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                <div class="modal-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="course-container">
            <div class="course-title">Optionale</div>
            <div id="optionalCoursesContainer">
            </div>
        </div>
</div>
</body>

</html>
